<h1><%= @current_user.name %>のページ</h1>
<%= react_component("UserPage",
                   {userName: @current_user.name,
                    email: @current_user.email,
                    password: @current_user.password,
                    userId: @current_user.id,
                    value: "User"}) %>
