<h1><%= @currentUser.name %>のページ</h1>
<%= react_component("UserPage",
                   {userName: @currentUser.name,
                    email: @currentUser.email,
                    password: @currentUser.password,
                    userId: @currentUser.id,
                    value: "User"}) %>
