<h1>メインメニュー</h1>
<div class="top-menu">
  <img src="/assets/top/folder-menu.png" alt="">
  <a href="/folders/<%= @currentUser.id %>/index">
    <img src="/assets/top/folders.png" alt="">
  </a>
  <img src="/assets/top/customer-menu.png" alt="">
  <a href="/customers/create">
    <img src="/assets/top/create-customer.png" alt="">
  </a>
  <a href="/customers/<%= @currentUser.id %>/index">
    <img src="/assets/top/customers.png" alt="">
  </a>
</div>
