<h1>メインメニュー</h1>
<div class="top-menu">
  <img src="/assets/top/folder-menu.png" alt="">

  <img src="/assets/top/create-folder.png" alt="">
  <a href="/folders">
  <img src="/assets/top/folders.png" alt="">
  </a>
  <img src="/assets/top/customer-menu.png" alt="">
  <img src="/assets/top/create-customer.png" alt="">
  <img src="/assets/top/customers.png" alt="">
</div>


<!– <%= react_component('HelloWorld', {name: 'でかいおさかなさん'})%>
