<h1>メインメニュー</h1>
<div class="top-menu">
  <img src="/assets/top/folder-menu.png" alt="">
  <img src="/assets/top/フォルダ作成.png" alt="">
  <img src="/assets/top/フォルダ一覧.png" alt="">
  <img src="/assets/top/顧客.png" alt="">
  <img src="/assets/top/顧客登録.png" alt="">
  <img src="/assets/top/顧客一覧.png" alt="">
</div>


<!– <%= react_component('HelloWorld', {name: 'でかいおさかなさん'})%> 
