<h1>顧客編集</h1>
<%= form_tag("/customers/#{@customer.id}/updateOrder", id: "updateOrder") do %>
  <div class="customer-info-wrapper">
    <div class="customer-info">
      <p>名前</p>
      <input name="customerName" value=<%= @customer.name %>></input>
      <p>TEL</p>
      <input name="tel" type="tel" value=<%= @customer.tel %>></input>
    </div>
    <div class="editNow">
      <p>編集中</p>
    </div>
  </div>
  <%= react_component('EditCustomersOrder', {books: @hashed_books, folders: @folders, orderBooks: @orderBooks}) %>

  <div class="decision_wrapper">
    <button type="submit" class="decision" form="updateOrder">登録する</button>
  </div>
<% end %>
