<h1>Customers#new</h1>
<div class="customer-info">
  <p>名前</p>
  <textarea name="customer_name"></textarea>
  <p>TEL</p>
  <textarea name="customer_tel"></textarea>
</div>

<%= react_component('CustomersOrder', {books: @hashed_books}) %>
