<h1>顧客登録</h1>
<%= form_tag("/createOrder") do %>
  <div class="customer-info">
    <p>名前</p>
    <input name="customerName"></input>
    <p>TEL</p>
    <input name="tel"></input>
  </div>

  <%= react_component('CustomersOrder', {books: @hashed_books, folders: @folders}) %>

  <button type="submit">登録する</button>
<% end %>
