<h1>顧客登録</h1>
<div class="customer-info">
  <p>名前</p>
  <input name="customer_name"></input>
  <p>TEL</p>
  <input name="customer_tel"></input>
</div>

<%= form_tag() do %>
  <%= react_component('CustomersOrder', {books: @hashed_books}) %>
<% end %>
