@import "buttons";

@mixin modal {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@mixin modal-inner($width) {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: $width;
  padding-bottom: 1em;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

@mixin modal-header($bgcolor) {
  background-color: $bgcolor;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: flex-start;
  height: 70px;
  color: white;
  cursor: default;
  img {
    margin-left: 225px;
    margin-top: 10px;
    cursor: pointer;
  }
  p {
    margin: 0;
    padding-top: 7px;
    padding-left: 29px;
    font-size: 40px;
  }
}

@mixin modal-contents {
  flex-direction: column;
  flex-wrap: wrap;
  p {
    margin: 20px 0 0 0;
    color: #535353;
    font-size: 30px;
    cursor: default;
    }
  input {
    height: 35px;
    width: 370px;
    font-size: 25px;
  }
}

@mixin modal-button {
  display: flex;
  justify-content: center;
  border: none;
  @include basicButtons;
}
