table {
  height: 530px;
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

thead, tbody {
}

thead {

}

tbody {

}

tr {
  display: flex;
}


@mixin valueWidth($name, $date, $c_day, $i_day, $amount, $order) {
  th {
    background-color: #707070;
    flex: auto;
    color: white;
    margin-right: 1px;
    &.name {
      width: $name;
    }
    &.date {
      width: $date;
    }
    &.c_day {
      width: $c_day;
    }
    &.i_day {
      width: $i_day;
    }
    &.amount {
      width: $amount;
    }
    &.orders {
      width: $order;
    }
  }
  td {
    flex: auto;
    background-color: white;
    margin: 1px 1px 0 0;
    width: auto;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &.name-value {
      width: $name;
    }
    &.date-value {
      width: $date;
    }
    &.c_day-value {
      width: $c_day;
    }
    &.i_day-value {
      width: $i_day;
    }
    &.amount-value {
      width: $amount;
    }
    &.orders-value {
      width: $order;
    }
  }
}
