table {
  height: 530px;
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

thead, tbody {
  display: block;
}

thead {

}

tbody {
  overflow-x: hidden;
  overflow-y: scroll;
}

tr {
  display: flex;
  background-color: white;
  &:nth-child(even) {
    background-color: #F0F0F0;
  }
}

@mixin valueWidthFolders($name, $date, $c_day, $i_day, $amount, $order) {
  th {
    background-color: #707070;
    flex: auto;
    color: white;
    margin-right: 1px;
    &.name {
      width: $name;
    }
    &.date {
      width: $date;
    }
    &.c_day {
      width: $c_day;
    }
    &.i_day {
      width: $i_day;
    }
    &.amount {
      width: $amount;
    }
    &.orders {
      width: $order;
    }
  }
  td {
    flex: auto;
    margin: 1px 1px 0 0;
    width: auto;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &.name-value {
      width: $name;
    }
    &.date-value {
      width: $date;
    }
    &.c_day-value {
      width: $c_day;
    }
    &.i_day-value {
      width: $i_day;
    }
    &.amount-value {
      width: $amount;
    }
    &.orders-value {
      width: $order;
    }
  }
}

@mixin valueWidthCustomers($date, $customerName, $tel, $orderName, $i_day) {
  th {
    background-color: #707070;
    flex: auto;
    color: white;
    margin-right: 1px;
    &.date {
      width: $date;
    }
    &.customerName {
      width: $customerName;
    }
    &.tel {
      width: $tel;
    }
    &.orderName {
      width: $orderName;
    }
    &.i_day {
      width: $i_day;
    }
  }
  td {
    flex: auto;
    margin: 1px 1px 0 0;
    width: auto;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    span {
      background-color: rgba(245, 99, 64, 0.4);
    }
    &.dateValue {
      width: $date;
    }
    &.customerNameValue {
      width: $customerName;
    }
    &.telValue {
      width: $tel;
    }
    &.orderNameValue {
      width: $orderName;
    }
    &.i_dayValue {
      width: $i_day;
    }
  }
}
