/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "modal";

 //ヘッダーメニュー
body {
  margin: 0 auto;
  width: 1000px;
  font-family: Hiragino Kaku Gothic ProN;
  color: #707070;
}

body h1 {
  margin: 10px 0 0 20px;
  padding-left: 0px;
  font-size: 45px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-menu {
  background-color: #009B48;
  height: 120px;
}

.B-Stocker {
  font-size: 55px;
  color: white;
  padding-left: 45px;
  display: inline-block;
  padding-top: 20px;
}

.header-submenu {
  text-decoration: none;
  font-size: 30px;
  float: right;
  color: white;
  text-align: center;
  padding-top: 10px;
  a {
    color: white;
    display: inline-block;
  }
  li {
    float: left;
    padding-right: 20px;
    cursor: pointer;
  }
}

.hs-element {
  display: inline-block;
  margin: 0;
  p {
    margin: 0;
    display: inline-block;
  }
}

//notice
.flash {
  padding: 5px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  width: 100%;
  font-size: 20px;
}


//モーダル
.login-modal {
  @include modal;
}

.login-modal-inner {
  @include modal-inner(450px);
}

.login-modal-header {
  @include modal-header(#56B55A);
}

.login-modal-contents {
  @include modal-contents;
}

.createUser-modal {
  @include modal;
}

.createUser-modal-inner {
  @include modal-inner(450px);
}

.createUser-modal-header {
  @include modal-header(#5B90D8);
}

.createUser-modal-contents {
  @include modal-contents;
}


.modal-button {
  @include modal-button;
}
