/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0 auto;
  width: 1000px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 50px;
  margin: 0;
}

.header-menu {
  background-color: #009B48;
  height: 120px;
}

.B-Stocker {
  font-size: 55px;
  color: white;
  padding-left: 45px;
  display: inline-block;
  padding-top: 20px;
}

.header-submenu {
  text-decoration: none;
  font-size: 30px;
  float: right;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.header-submenu a {
  color: white;
  display: inline-block;
}

.header-submenu li {
  float: left;
  padding-right: 20px;
}

.hs-element {
  display: inline-block;
  margin: 0;
}

.hs-element p {
  margin: 0;
  display: inline-block;
}

.login-modal {
  margin: 0 auto;
}

.login-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.modal-header {
  background-color: #56B55A;
  border-radius: 20px 20px 0 0;
}

.modal-header h2 {
  margin: 0;
}

.modal-contents {

}

.modal-contents li {

}
