// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.customer-info {
  border-bottom: dashed 4px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  p {
    margin-bottom: 0.5em;
    font-size: 18px;
  }
  input {
    font-size: 22px;
    width: 400px;
    height: 40px;
  }
}

.orderList {
  display: flex;
  text-align: center;
  p {
    margin: 0;
  }
}

.bookList {
  justify-content: center;
  width: 50%;
  textarea {
    text-align: center;
  }
}

.addList {
  justify-content: center;
  width: 50%;
  textarea {
    text-align: center;
  }
}
