// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "modal";
@import "table";

//汎用
.decision {
  position: fixed;
  bottom: 20px;
  left: 41%;
  //inputデザイン初期化
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  //ここまで

  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 20px;
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  margin: 20px 1em 0 1.3em;

  background-color: #5B90D8;
}


.customer-info {
  border-bottom: dashed 4px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  p {
    margin-bottom: 0.5em;
    font-size: 18px;
  }
  input {
    font-size: 22px;
    width: 400px;
    height: 40px;
  }
}

.orderList {
  display: flex;
  text-align: center;
  p {
    margin: 0;
  }
}


.addList {
  width: 45%;
  margin-right: 30px;
  h2 {
    font-size: 33px;
    margin: 0.5em 0.5em 0 0.5em;
    width: 40%;
  }
  p {
    margin: 0.5em;
  }
  input {
    font-size: 15px;
    height: 32px;
    margin-top: 0.4em;
  }

  .orderBookName{
    width: 350px;
  }

  .orderBookAmount {
    text-align: center;
    background: #5B90D8;
    border-radius: 0 24px 24px 0;
    width: 40px;
    height: 28px;
    border: none;
    color: white;
  }

}



.orderBookMenu {
  height: 550px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: start;
  width: 55%;
  background-color: #EDEDED;
  p {
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    background-color: white;
    text-align:　center;
  }
  thead {
    tr {
      background-color: transparent;
    }
  }
  tbody {
    tr {
      background-color: white;
      margin: 0.5em;
    }
  }
  td {
    border: none;
  }
  th {
    border: none;
  }
}

.orderBookMenuHeader {
  height: 15%;
  width: 100%;
  background-color: #707070;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 33px;
    margin: 0 0.5em 0 0.5em;
    width: 40%;
    color: white;
  }
  p {
    font-size: 20px;
    margin: 0.5em;
    margin-right: 1em;
    padding-bottom: 0.7em;
    width: 60%;
    height: 30%;
  }
}

.folderList {
  width: 40%;
  height: 85%;
  background-color: #D3D3D3;
  tr {
    text-align: center;
  }
}

.bookList {
  width: 60%;
  height: 85%;
  tr {
  }
}

//index
.customersTable {
  height: 570px;
  margin-top: 10px;
  background-color: #D3D3D3;
  @include valueWidthCustomers(10%, 20%, 20%, 40%, 10%);
  a {
    text-align: left;
    padding-left: 5px;
  }
  td {
  }
}

//info
.customerInfoWrapper {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  p {
    margin-bottom: 0.5em;
    font-size: 18px;
  }
}

.customerInfomation {
  width: 50%;
  button {
    //inputデザイン初期化
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    //ここまで

    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 20px;
    padding: 0.5em 2em;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin: 20px 1em 0 1.3em;

    background: #FEA754;
    box-shadow: 0 4px #627295;

    width: 250px;
    vertical-align: middle;
  }

  .customerName, .customerTel {
    border: solid black 1px;
    padding-left: 0.5em;
    width: 400px;
  }

  .buttonsMenu {
    width: 409px;
    align-items: center;
    button {
      padding:0;
      margin: 15px;
      width: 180px;
    }
    .editButton {
      margin-right: 10px;
    }
    .deleteButton {
      .delete {
        background: #F56340;
        box-shadow: 0 4px #627295;
      }
      .confirModal-button {
        @include modal-button;
      }
    }
  }
}

.customersOrders {
  margin-top: 18px;
  width: 50%;
  text-align: center;
  background-color: #BFD8FA;
}


.customerOrdersTitle {
  margin: 0;
  background-color: #78ADF4;
  color: white;
}

.orderBooks {
  display: flex;
  height: 540px;
  align-items: start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  p {
    margin: 0.5em 0 0 0.5em;
    width: 95%;
    background-color: white;
  }
  .orderCount {
    width: 40%;
    margin-left: 270px;
  }
}

//edit
.customer-info-wrapper {
  display: flex;
  border-bottom: dashed 4px;
  margin-bottom: 20px;
  .customer-info {
    width: 50%;
    border: none;
  }
  .editNow {
    width: 50%;
    text-align: center;
    p {
      font-size: 80px;
      margin-top: 60px;
    }
  }
}
