// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.customer-info {
  border-bottom: dashed 4px;
}

.orderList {
  display: flex;
  text-align: center;
}

.bookList {
  width: 50%;
  textarea {
    display: block;
  }
}

.addList {
  width: 50%;
}
