// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "modal";

.folder-menu {
  display: flex;
  &.title {
    flex: auto;
    width: 50%;
  }
  &.folder-subMenu {
    flex: auto;
    width: 50%;
    text-align: center;
    margin: 0;
    p  {
      margin: 0 0 0 0;
      display: inline-block;
      cursor: pointer;
    }
  }
}


.createFolder-modal {
  @include modal;
}

.createFolder-modal-inner {
  @include modal-inner(450px);
}

.createFolder-modal-header {
  @include modal-header(#56B55A);
  p {
    color: white;
  }
  img {
    margin-left: 145px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.createFolder-modal-contents {
  @include modal-contents;
}

.createFolder-modal-button {
  @include modal-button;
}


.createBook-modal {
  @include modal;
}

.createBook-modal-inner {
  @include modal-inner(450px);
}

.createBook-modal-header {
  @include modal-header(#56B55A);
  p {
    color: white;
  }
  img {
    margin-left: 145px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.createBook-modal-contents {
  @include modal-contents;
}

.createBook-modal-button {
  @include modal-button;
}


.folder-table {
  height: 570px;
  margin-top: 10px;
  background-color: #F0F0F0;
}

table {
  height: 570px;
  font-size: 20px;
  border-color: #707070;
}

thead, tbody {
  display: block;
}

thead {
  background-color: #707070;
}

tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}

th {
  color: white;
  &.name {
    width: 722px;
  }
  &.date {
    width: 243px;
  }
}

td {
  background-color: white;
  &.name-value {
    width:750px
  }
  &.date-value {
    width: 250px;
    text-align: center;
  }
}
